PORT=3000
JWT_SECRET=buraya_cok_gizli_bir_sifre_yaz
APP_URL=http://localhost:3000
PAYTR_MERCHANT_ID=
PAYTR_MERCHANT_KEY=
PAYTR_MERCHANT_SALT=
PAYTR_TEST_MODE=1

# Brevo SMTP mail ayarları
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=BURAYA_BREVO_SMTP_LOGIN
SMTP_PASS=BURAYA_BREVO_SMTP_KEY
MAIL_FROM=dogrulanmis-gonderen-mailiniz@example.com
MAIL_FROM_NAME=GörevPazar
